/* styles.css */

body {
    background-color: #5eff00;
    font-family: Arial, sans-serif;
}

header {
    background: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png') no-repeat center center;
    background-size: cover;
    color: rgb(249, 0, 0);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    padding: 30px 0;
}

.progress-bar {
    background-color: #007bff;
    text-align: center;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: fantasy, sans-serif;
    font-size:x-large;
}

img {
    display: block;
    margin: 0 auto;
}

#pokemonInfo {
    text-align: center;
}
